<app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
    <meta
    name="description"
    content="Thé Tiptop lance un jeu-concours à l'occasion de l'ouverture 
    de notre dixième boutique à Nice! Jouez et gagnez de multiples cadeaux 
    en magasins ou sur notre site.">

</head>

<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>
<app-footer></app-footer>
 