<html>
  <app-header></app-header>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta
    name="description"
    content="Thé Tiptop lance un jeu-concours à l'occasion de l'ouverture 
    de notre dixième boutique à Nice! Jouez et gagnez de multiples cadeaux 
    en magasins ou sur notre site.">
  </head>

  <div id=container>
    <div>
   <div><div>{{current}}</div></div>
   <div><div>Début</div></div>
   <div><div>Date</div></div> 
  </div>
    <br>
    <div>
      <div><div>Pour participer</div></div>
      <div><div>{{delay}} jours</div></div>
      <div><div>il reste</div></div>
    </div>
    <br>
    <div>
      <div><div>{{given}}</div></div>
      <div><div>Fin</div></div>
      <div><div>Date</div></div> 
     </div> 
     <div>
      <h1>
        Attention!
      </h1>
      <h2>
        -Vous ne pouvez gagner qu'un cadeau par tour.
        -Vous ne pourriez pas avoir le même lot plus d'une fois.
        -Le numéro de votre ticket n'a qu'une seule utilisation.
        -Faites attention à bien saisir les 10 chiffres du ticket.
        Bonne chance!
        -Si votre ticket de caisse n'est pas supérieur à 49 euros, vous n'aurez pas la possibilité de jouer.</h2>
     </div>
  </div>
  
<div class="center">
 <ngx-wheel
  #wheel
  width='400'
  height='400'
  spinDuration='8'
  [items]='items'
  [innerRadius]='20'
  [spinAmount]='10'
  [textOrientation]='textOrientation'
  [textAlignment]='textAlignment'
  pointerStrokeColor='red'
  pointerFillColor='gold'
  disableSpinOnClick='false'
  [idToLandOn]='idToLandOn'
  (onSpinComplete)='after()'
  ></ngx-wheel>
  <br>
  <div>
    <button class="button-33"  (click)="spin()">Jouer</button>
  </div>
</div>
</html>
<app-footer></app-footer>


