<html>
<app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>
<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
     <body>
        <div class="container">
          
          <div class="col1">
            <h1 class="heading">Tickets Utilisé</h1>
              <p class="para1"><li *ngFor="let TU of Tickets1"><a>{{TU.ref_participation}}<br></a></li></p> 
          </div>
      
          <div class="col2">
            <h1 class="heading">Tickets Non Utilisé</h1>
              <p class="para2"><li *ngFor="let TNU of Tickets2"><a>{{TNU.ref_participation}}</a></li></p>
              
          </div>
      </div>
    </body>  
    </mat-drawer-content>
	
</mat-drawer-container>


<app-footer></app-footer>
</html>
