<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Beautiful Bootstrap Navbar with Menu Icons</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>
<mat-drawer-container>
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
		<section class="vh-100">
			<div class="container" style="padding-top:  5rem;">
				<mat-card>
				<mat-card-title style="text-align: center;">Ajouter Employer</mat-card-title>
					<form class="example-form" [formGroup]="UserRegistrationForm" (ngSubmit)="onSubmit()" >
						
							<div class="container py-5 h-100">
							  <div class="row d-flex justify-content-center align-items-center h-100">
								<div class="col-12 col-md-8 col-lg-6 col-xl-5">
								  <div class="card shadow-2-strong" style="border-radius: 1rem;">
									<div class="card-body p-5 text-center">
										<div class="row">
												<div class="col-md-6">
													<mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
														 <mat-label>Nom</mat-label>
															 <input matInput placeholder="Nom" formControlName="nom">
															</mat-form-field>
												</div>
			
						<div class="col-md-6">
							<mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
							  <mat-label>Prenom</mat-label>
							  <input matInput placeholder="Prenom" formControlName="prenom">
							</mat-form-field>
					</div>
							
					</div>
					<div class="row">
						<div class="col-md-6"> 
						<mat-form-field appearance="outline" style="width: 100%;">
							<mat-label> Genre</mat-label>
							<mat-select formControlName="genre">
							  <mat-option *ngFor="let genre of genreValues" [value]="genre.value">
								{{genre.name}}
							  </mat-option>
							</mat-select>
						  </mat-form-field>
					</div>
				
				<div class="col-md-6">
					<mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
					  <mat-label>Email</mat-label>
					  <input matInput placeholder="Email" formControlName="email">
					</mat-form-field>
				</div>
			
					<div class="col-md-6">
				<mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
				  <mat-label>Telephone</mat-label>
				  <input matInput placeholder="Telephone" formControlName="telephone">
				</mat-form-field>
				</div>
				
				
				<div class="col-md-6">
				<mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
				  <mat-label>Password</mat-label>
				  <input matInput placeholder="Password" formControlName="password">
				</mat-form-field>
				<mat-label class="test"> Employer
					<input type="radio" name="isAdmin" value="true" title="IsEmp" formControlName="isAdmin" />
				 </mat-label>
				</div>
				</div>
			
					<div class="row">
						<div class="col-md-6">
							<br>
							<button mat-raised-button color="primary" style="width: 100%;" type="submit">Register</button>
			
						</div>
							<div class="col-md-6" >
								<br>
								<button mat-raised-button disabled style="width: 100%;">Clear</button>
							</div>
			
					</div>
				</div>
			</div>
			</div>
			</div>
			</div>
			
			
				</form>
				</mat-card>
			
			
			</div></section>
    </mat-drawer-content>
	
</mat-drawer-container>


<app-footer></app-footer>

</html>