:host {

    display: flex;

    flex-direction: column;

    height: 100%;

  }

mat-drawer {

    width: 350px;

  }

mat-drawer-container {

    height: 100%;

  }

  mat-drawer-content {

    padding: 20px;

  }
  :host mat-icon{
     
    vertical-align: auto;
    margin-right: 20px;
}
.profile-card {
  text-align: center;
  padding: 20px 20px 20px 20px;
  
}
.profile-card img{
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
    
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1446daa5;
    color: white;
  }
  .main {
    
    text-align: center;
    margin-left: 90px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 20px;
  }
  .button {
    background-color: #2f3640;
    color: white;
    border-radius: 50%;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1:hover {
    background-color: #1446daa5; 
    color: black; 
    border: 2px solid #a6b1a6;
  }
  body{
     
    min-height:100vh; 
    min-width: 100vh;
    -webkit-background-size:cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
  }