<html>
<head>
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
<meta
name="description"
content="Thé Tiptop lance un jeu-concours à l'occasion de l'ouverture 
de notre dixième boutique à Nice! Jouez et gagnez de multiples cadeaux 
en magasins ou sur notre site.">

</head>
<div class="template">
    <div class="container">
             <h4>Tirage au Sort</h4>
             <div class="form">
                  <input type="number" min="1" max="10"  class="qty">
                  <button (click)="nameQty()">GENERER UN GAGNANT</button>
             </div>
             <div class="nameBox">
                  <span class="nameList">
                         CLICK
                  </span>
             </div>
    </div>
    
</div>
</html>
