<app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>

<head>

	<meta name="viewport" content="width=device-width, initial-scale=1">

  <meta
  name="description"
  content="Thé Tiptop lance un jeu-concours à l'occasion de l'ouverture 
  de notre dixième boutique à Nice! Jouez et gagnez de multiples cadeaux 
  en magasins ou sur notre site.">

</head>

<lib-ng-toast></lib-ng-toast>
	<mat-drawer-container>
		<mat-drawer mode="side" [opened]="sideBarOpen">
			<app-sidebarclient></app-sidebarclient>
		</mat-drawer>
		<mat-drawer-content>
			<router-outlet></router-outlet>
							 <div>
								<label for="number"><strong>Veuillez saisir le numéro de votre ticket pour participer au jeu-concours:</strong></label>
								<div class="container"><input type="text" [(ngModel)]="RefP" maxlength="10" placeholder="Saisissez le numéro ici">
									<button (click)="fetchRef_P()" class="btn3">Participer</button></div>
									<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true">
										<p style="color: white" > Chargement... </p>
									</ngx-spinner>
								 <h2 class="border1 lh-base"> <strong><span style="text-align: center; color:rgb(187, 213, 184) ;"><strong>RAPPEL!</strong></span><br> Jeu-concours Thé Tiptop! 
									Soyez 100% gagnant et gagner des cadeaux exceptionnels!<br>
									<br>
									Afin de participer au tirage au sort, visitez l'une de nos 10 boutiques en France
									et acheter nos produits pour avoir un ticket de caisse d'une valeur minimum de 49€ !
									Des thés détox, infusion ou des thés aux fruits savoureux vous attendent en magasins.
									Faites entrer les 10 chiffres qui se trouvent sur votre facture, et jouer pour obtenir des super cadeaux!
									
									Réclamez votre infuseur de thé, vos 100g de thé détox, infusion ou signature et de super coffret découverte en magasins ou en ligne!
									Inscrivez-vous vite! Vous n'avez que 30 jours avant se faire le grand tirage au sort.
									La personne choisie pourra profiter d'un an de thé de la valeur de 360€ ! Soyez nombreux ! 
									
									Avec Thé TipTop, vous serez au TOP!</strong></h2>
							 </div>
			</mat-drawer-content>
		</mat-drawer-container>
	<app-footer></app-footer>
