<mat-nav-list>
    <div class="profile-card">
        <div class="header">
        <h2>{{nomEmployer}} {{prenomEmployer}}</h2>
        <h4>{{emailEmployer}}</h4>
        </div>

        <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="Admin">
    </div>
    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">Home</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/ReclamationEMP">boite Reclamation</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/employer">gagnants</a>

    <mat-divider></mat-divider>

    

</mat-nav-list>
