<mat-nav-list>
    <div class="profile-card">
        <div class="header">
        <h2>Admin</h2>
        <h4>{{emailadmin}}</h4>
        </div>

        <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="Admin">
    </div>
    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">Home</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/admin">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/AddEmp">Ajouter Employer</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/Session">Session</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/Tirage">Tirage au sort(an_de_the)</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/NumeroT">Numero Tickets</a>
    <mat-divider></mat-divider>
</mat-nav-list>
